@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 100;
  src: url("/public/fonts/Pretendard-Light.otf") format("otf");
}

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  src: url("/public/fonts/Pretendard-Regular.otf") format("otf");
}

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  src: url("/public/fonts/Pretendard-SemiBold.otf") format("otf");
}

:root {
  font-family: "Pretendard";
  font-size: 10px;

  --max-width: 600px;
  --border-radius: 12px;

  --primary-white: rgba(255, 255, 255, 1);
  --primary-black: rgba(0, 0, 0, 1);
  --primary-red: rgba(255, 93, 93, 1);

  --grey-50: rgba(247, 247, 247, 1);
  --grey-100: rgba(225, 225, 225, 1);
  --grey-200: rgba(207, 207, 207, 1);
  --grey-300: rgba(177, 177, 177, 1);
  --grey-400: rgba(158, 158, 158, 1);
  --grey-500: rgba(126, 126, 126, 1);
  --grey-600: rgba(98, 98, 98, 1);
  --grey-700: rgba(81, 81, 81, 1);
  --grey-800: rgba(59, 59, 59, 1);
  --grey-900: rgba(34, 34, 34, 1);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  user-select: none;
}

a {
  color: inherit;
  text-decoration: none;
}
button {
  border: 0;
  background-color: transparent;
}

body {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: auto;
  width: 100vw;
  height: auto;
  display: flex;
  /* overscroll-behavior-y: none; */
}

main {
  width: 100%;
  height: max-content;
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: dark;
  }
}

/* 태블릿 화면 크기에 따른 스타일 */
@media (min-width: 768px) and (max-width: 1023px) {
  body {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: auto;
    width: 100vw;
    height: auto;
    display: flex;
    max-width: var(--max-width);
  }
}

/* 데스크톱 화면 크기에 따른 스타일 */
@media (min-width: 1024px) {
  body {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: auto;
    width: 100vw;
    height: auto;
    display: flex;
    max-width: var(--max-width);
  }
}
