.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow-y: auto; /* 수직 스크롤 가능하도록 설정 */
  margin-top: 6rem;
}

.imageWrapper {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  margin-bottom: 20rem;
}
