.product-wrap {
  display: flex;
  flex-direction: column;
}

.product-image {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 10px;
  height: 220px;
  width: 170px;
}

.product-description span {
  font-family: "pretend";
  display: flex;
  color: black;
}

.product-description span:nth-child(1) {
  font-size: 16px;
}

.product-description span:nth-child(2) {
  font-size: 14px;
  line-height: 1.3rem;
  opacity: 0.5;
}

.product-description span:nth-child(3) {
  font-size: 14px;
}

/* solo product */
.solo-product-wrap {
  display: flex;
  flex-direction: column;
}

.solo-product-image {
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
  height: 500px;
  width: 375px;
}

.solo-product-description span {
  font-family: "pretend";
  display: flex;
  color: black;
}

.solo-product-description span:nth-child(1) {
  font-size: 24px;
}

.solo-product-description span:nth-child(2) {
  font-size: 16px;
  line-height: 1.3rem;
  opacity: 0.5;
}

.solo-product-description span:nth-child(3) {
  display: block;
  text-align: end;
  font-size: 18px;
}

span {
  white-space: nowrap; /* 텍스트가 한 줄로 유지되도록 합니다. */
  overflow: hidden; /* 넘치는 텍스트를 숨깁니다. */
  text-overflow: ellipsis; /* 말줄임표를 표시합니다. */
}
